---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About - J. Allan MacDonald"
  description="About J. Allan MacDonald, author of urban fantasy fiction"
  currentPath="/about/"
>
  <h1>About</h1>
  <p>Coming Soon!</p>
</BaseLayout>
